/* ================ global ================== */

* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================ cards ================== */

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.card-img {
    margin: 25px;
    display: flex;
    width: auto;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-pequena {
    height: 100%;
    cursor: pointer;
    transform: scale(1.0);
    transition: all linear .4s;
}

.img-pequena:hover {
    transform: scale(1.05);
    transition: all linear .4s;
}

/* =================== modal ================= */

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    visibility: hidden;
}

#modal-visivel {
    visibility: visible;
}

.conteudo-modal {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.modal-img {
    width: 26%
}

.botao-fechar {
    color: #fff;
    background-color: #16181b;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    font-size: 25pt;
}

.botao-fechar:hover {
    color: #f00;
    cursor: pointer;

}

/* =================== mobile ================= */

@media (max-width: 875px) {

    .container {
        align-content: flex-start;
    }

    .modal {
        height: 100%;
    }

    .conteudo-modal {
        height: 100%;
        flex-direction: column;
    }

    .modal-img {
        width: auto;
        height: 30%;
    }
}

@media (max-width: 577px) {

    body,
    html {
        height: 132vh;
    }

    .modal {
        height: 132vh;
    }
}

@media (max-width: 420px) {

    body,
    html {
        height: 182vh;
    }

    .modal {
        height: 182vh;
    }
}